openapi: 3.2.0
info:
  title: Halo Connect FHIR API
  version: 26.619.10213
  license:
    name: Copyright © Halo Connect 2023
    url: http://haloconnect.io
  x-logo:
    url: https://20496383.fs1.hubspotusercontent-na1.net/hubfs/20496383/halo_logo%20(1).png
    altText: Halo Connect Logo
  description: 'Operations tagged FHIR across 2 of this provider''s published API definitions: halo-connect-desktop-openapi.json, halo-connect-integrator-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.haloconnect.io
  description: Production
- url: https://api.stage.haloconnect.io
  description: Stage
tags:
- name: FHIR
  description: Query practice data using FHIR resources.
paths:
  /desktop/sites/{siteId}/fhir/R4/{fhirParameters}:
    get:
      tags:
      - FHIR
      summary: Search FHIR resources
      description: 'Send a FHIR query to a site and receive the result in the response.


        Include the resource name and search parameters in `fhirParameters`. Example: `Patient?given=John`


        See the [FHIR docs](https://docs.haloconnect.io/halo-cloud/fhir-api/overview) for supported resources and parameters.

        '
      operationId: getFhirQuery
      parameters:
      - name: siteId
        in: path
        description: Halo GUID of the site.
        required: true
        schema:
          type: string
      - name: fhirParameters
        in: path
        description: Resource names and search parameters per the R4 FHIR specification for using [RESTful APIs](http://hl7.org/fhir/R4/http.html) and [search](http://hl7.org/fhir/R4/search.html).
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Query executed.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Singular FHIR resource of the requested type.
                  example:
                    application/json:
                      resourceType: Patient
                      id: '1'
                      name:
                      - use: official
                        text: Mr John Smith
                        family: Smith
                        given:
                        - John
                        prefix:
                        - Mr
                - type: object
                  description: Bundle of FHIR resources of the requested type(s).
                  example:
                    application/json:
                      resourceType: Bundle
                      type: searchset
                      total: 0
        '400':
          description: Bad Request - Invalid request path, parameter or body.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '403':
          description: Access to resource is forbidden.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '404':
          description: The server cannot find the requested resource.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
        '503':
          description: The server is not ready to handle the request.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
        '504':
          description: Server request to upstream resource timed out.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
      security:
      - AuthorizationHeader: []
        DeviceIdHeader: []
    servers:
    - url: https://api.haloconnect.io
      description: Production
    - url: https://api.stage.haloconnect.io
      description: Stage
  /desktop/sites/{siteId}/fhir/R4/{resource}/_search:
    post:
      tags:
      - FHIR
      summary: Search FHIR resources (POST)
      description: 'Send a FHIR search query with parameters in the request body.


        POST is recommended for sensitive queries containing personally identifiable information (PII), as it avoids URL length limits and keeps parameters out of logs.


        See the [FHIR docs](https://docs.haloconnect.io/halo-cloud/fhir-api/overview) for supported resources and parameters. Errors may return as HTTP errors or FHIR [OperationOutcome](https://hl7.org/fhir/R4/operationoutcome.html) resources.

        '
      operationId: postFhirSearch
      parameters:
      - name: siteId
        in: path
        description: Halo GUID of the site.
        required: true
        schema:
          type: string
      - name: resource
        in: path
        description: The name of the FHIR resource to search for.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Query executed.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Bundle of FHIR resources of the requested type(s).
                  example:
                    application/json:
                      resourceType: Bundle
                      type: searchset
                      total: 0
        '400':
          description: Bad Request - Invalid request path, parameter or body.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '403':
          description: Access to resource is forbidden.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '404':
          description: The server cannot find the requested resource.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
        '503':
          description: The server is not ready to handle the request.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
        '504':
          description: Server request to upstream resource timed out.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
      requestBody:
        description: FHIR search parameters.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
            example:
              given: John
              birthdate: gt1900-01-01
              _sort: birthdate
      security:
      - AuthorizationHeader: []
        DeviceIdHeader: []
    servers:
    - url: https://api.haloconnect.io
      description: Production
    - url: https://api.stage.haloconnect.io
      description: Stage
  /integrator/sites/{siteId}/fhir/R4/{fhirParameters}:
    get:
      tags:
      - FHIR
      summary: Search FHIR resources
      description: 'Send a FHIR query to a site and receive the result in the response.


        Include the resource name and search parameters in `fhirParameters`. Example: `Patient?given=John`


        See the [FHIR API docs](https://docs.haloconnect.io/halo-cloud/fhir-api/overview) for supported resources and parameters.

        '
      operationId: getFhirQuery
      parameters:
      - name: siteId
        in: path
        description: Halo GUID of the site.
        required: true
        schema:
          type: string
      - name: fhirParameters
        in: path
        description: Resource names and search parameters per the R4 FHIR specification for using [RESTful APIs](http://hl7.org/fhir/R4/http.html) and [search](http://hl7.org/fhir/R4/search.html).
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Query executed.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Singular FHIR resource of the requested type.
                  example:
                    application/json:
                      resourceType: Patient
                      id: '1'
                      name:
                      - use: official
                        text: Mr John Smith
                        family: Smith
                        given:
                        - John
                        prefix:
                        - Mr
                - type: object
                  description: Bundle of FHIR resources of the requested type(s).
                  example:
                    application/json:
                      resourceType: Bundle
                      type: searchset
                      total: 0
        '400':
          description: Bad Request - Invalid request path, parameter or body.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '403':
          description: Access to resource is forbidden.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '404':
          description: The server cannot find the requested resource.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
        '503':
          description: The server is not ready to handle the request.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
        '504':
          description: Server request to upstream resource timed out.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
      security:
      - SubscriptionKey: []
    servers:
    - url: https://api.haloconnect.io
      description: Production
    - url: https://api.stage.haloconnect.io
      description: Stage
  /integrator/sites/{siteId}/fhir/R4/{resource}/_search:
    post:
      tags:
      - FHIR
      summary: Search FHIR resources (POST)
      description: 'Send a FHIR search query with parameters in the request body.


        POST is recommended for sensitive queries containing personally identifiable information (PII), as it avoids URL length limits and keeps parameters out of logs.


        See the [FHIR API docs](https://docs.haloconnect.io/halo-cloud/fhir-api/overview) for supported resources and parameters. Errors may return as HTTP errors or FHIR [OperationOutcome](https://hl7.org/fhir/R4/operationoutcome.html) resources.

        '
      operationId: postFhirSearch
      parameters:
      - name: siteId
        in: path
        description: Halo GUID of the site.
        required: true
        schema:
          type: string
      - name: resource
        in: path
        description: The name of the FHIR resource to search for.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Query executed.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Bundle of FHIR resources of the requested type(s).
                  example:
                    application/json:
                      resourceType: Bundle
                      type: searchset
                      total: 0
        '400':
          description: Bad Request - Invalid request path, parameter or body.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '403':
          description: Access to resource is forbidden.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '404':
          description: The server cannot find the requested resource.
          content:
            application/json:
              schema:
                type: object
                description: OperationOutcome resource containing error details.
                example:
                  application/json:
                    resourceType: OperationOutcome
                    issue:
                    - severity: fatal
                      code: exception
                      details:
                        coding:
                        - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                          code: '5003'
                        text: Details of error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
        '503':
          description: The server is not ready to handle the request.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
        '504':
          description: Server request to upstream resource timed out.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: OperationOutcome resource containing error details.
                  example:
                    application/json:
                      resourceType: OperationOutcome
                      issue:
                      - severity: fatal
                        code: exception
                        details:
                          coding:
                          - system: http://hl7.org/fhir/dotnet-api-operation-outcome
                            code: '5003'
                          text: Details of error
                - type: object
                  properties:
                    error:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: httpStatus
                        statusText:
                          type: string
                          format: httpStatusPhrase
                        message:
                          type: string
      requestBody:
        description: FHIR search parameters.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
            example:
              given: John
              birthdate: gt1900-01-01
              _sort: birthdate
      security:
      - SubscriptionKey: []
    servers:
    - url: https://api.haloconnect.io
      description: Production
    - url: https://api.stage.haloconnect.io
      description: Stage
components:
  securitySchemes:
    SubscriptionKey:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
      description: The subscription key for the API.
    AuthorizationHeader:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token for authentication.
    DeviceIdHeader:
      type: apiKey
      name: DeviceId
      in: header
      description: Device ID of the device making the request.
x-refined-from:
- halo-connect-desktop-openapi.json
- halo-connect-integrator-openapi.json
